#success {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    padding: 10px 20px;
    background-color: #00FF00;

    color: white;
    border-radius: 50px;
    z-index: 1000;
    transition: transform 0.5s, opacity 0.5s;
}

#error {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    background-color: #4CAF50;
    transform: translateX(-50%) translateY(-100%);
    padding: 10px 20px;
    background-image: linear-gradient(-45deg, #ff0000, #d40000);
    color: white;
    border-radius: 50px;
    z-index: 1000;
    transition: transform 0.5s, opacity 0.5s;
}
